

.filler {
  flex-grow: 1;
}

.navbar{
  margin-bottom: 45px;
}
.login #formContent {
  width: 300px;
  margin: 0 auto;
}

.dropdown-menu.show{
  left: -118px;
}

/* overrides */
.login .col {
  padding-left: 0px;
}
.form-label.col {
  padding-left: 0px;
}